sya {
  color: #d11d53;
  font-size: 55px;
  font-family: Verdana;
}
h1 {
  color: #a0877d;
  font-family: "Elephant";
  font-size: 80px;
}
body {
  background-color: #f7e7ce;
  margin: auto;
  width: 85%;
}

h1 {
  color: #a0877d;
  font-family: "Elephant";
  font-size: 80px;
}

div {
  text-align: center;
}

.navbar {
  background-color: #deb3ad;
  font-family: "Arial";
  overflow: auto;
  box-shadow: 6px 8px #333333;
}

.navbar a {
  float: right;
  font-family: "Arial";
  font-size: 18px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 2px 2px #333333;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  text-shadow: 2px 2px #333333;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #a0877d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a0877d;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #deb3ad;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fade-in-image {
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p1 {
  color: black;
  font-family: "Arial";
  font-size: 25px;
}

div.scroll-container {
  background-color: #deb3ad;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.box1 {
  background-color: #deb3ad;
  box-shadow: 10px 10px #000000;
}

.box-text1 {
  font-family: "Arial Rounded MT Bold";
  font-size: 15px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

p2 {
  color: black;
  font-family: "Elephant";
  font-size: 15px;
}

p3 {
  color: black;
  font-family: "Elephant";
  font-size: 20px;
}
amr {
  color: Black;
  font-size: 35px;
  font-family: Cooper Black;
}
shi {
  color: rgb(207, 52, 91);
  font-size: 25px;
  font-family: Tempus Sans ITC;
}
<!---SHAWL GALLERY--- > * {
  box-sizing: border-box;
}

.columnn {
  float: left;
  width: 33.33%;
  padding: 3px;
}

.roww::after {
  content: "";
  clear: both;
  display: table;
}

<!---BAWAL GALLERY--- > div.scroll-container {
  background-color: #ffe1fd;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

<!---SPORTS GALLERY--- > #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e93da7;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 200px) {
  .modal-content {
    width: 80%;
  }
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
